@import '../../styles/colors.scss';

.agenda{
    margin-left:280px;
    width: 50%;
    margin-top: 30px;
    overflow: hidden;
    padding:30px;
}

.container{
    width: 50%;
}

table{
    width: 100%;
}

th{
    height: 30px;
    background: $secondary;
}

tr{
    height: 20px;
}
td{
    width: 260px;
    padding-left: 40px;
}

tr:nth-child(even) {
    height: 20px;
    background-color: #dddddd;
  }